<h2 style="text-align: center">Welcome to the Parking application</h2>
<div style="text-align: center">
  <span style="color: blue;font-size: 16px">Enter the total number of parking slots</span>
  <input style="margin-left: 10px" [(ngModel)]="slots" type="number" placeholder="enter the slots">
  <button type="button" style="background-color: blue;color: white;margin-left: 10px"
    (click)="createSlots()">create</button>
</div>
<div class="container" *ngIf="showTemplate">
  <div class="leftHalf">
    <div style="text-align: center;font-weight: bold">List of Parked Vehicles</div>
    <div style="text-align: center">
      <div><button style="color:orange" (click)="hide=!hide" type="button">Add vehicle</button></div>
        <div style="margin-top:10px" *ngIf="hide">

          <span style="margin-left:10px"><input [(ngModel)]="regNumber" placeholder="enter the register Number"></span>
          <span style="margin-left:10px"><input [(ngModel)]="vehicleColor" placeholder="enter the  color of the vehicle"></span>
          <span style="margin-left:10px"><button style="background-color: blue;color:white" type="button" (click)="entryVehicle()">Entry
              Vehicle</button></span>

      </div>
  </div>
  <mat-table style="border: 1" #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="slotNo">
      <mat-header-cell *matHeaderCellDef> Slot no </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.slotNo}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="registerNumber">
      <mat-header-cell *matHeaderCellDef> Register Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.registerNumber}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.color}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="exitVehicle(element.slotNo)" style="color:red" type="button">Exit</button>
      </mat-cell>
    </ng-container>
    <!-- Symbol Column -->


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div class="rightHalf">

  <div>

    <table style="padding: 20px">

      <tr>
        <td>Get Register Number By Color</td>
        <td><input matInput [(ngModel)]="vehicleRegColor" placeholder="search"></td>
        <td><button style="background-color: springgreen" type="button"
            (click)="getRegisterNumberByColor()">search</button></td>

      </tr>
      <tr>
        <td>Get Slot Number By Color</td>
        <td><input matInput [(ngModel)]="vehicleColors" placeholder="search"></td>
        <td><button type="button" style="background-color: springgreen" (click)="getSlotNumberByColor()">search</button>
        </td>
      </tr>
      <tr>
        <td>Get Parking Slot Number By Register Number</td>
        <td> <input matInput [(ngModel)]="registerNumbers" placeholder="search"></td>
        <td><button type="button" style="background-color: springgreen"
            (click)="getSlotNumberByRegisterNumber()">search</button></td>
      </tr>
      <tr style="font-weight: bold;margin-top:10px">
        {{vehicleNumberFromList}}
        {{slotNoByColor}}
        {{slotNoByReg}}
      </tr>
    </table>


  </div>


</div>
